
body {
	margin: 5vw;
}

h1 {
	color: black;
}

h3 {
	color: black;
}

.container li.high {
	color: red;
	font-weight: 700;
}

.container li.low {
	color: #A6A6A6;
}

.new-entry-form {
	margin-top: 10vw;
}