body {
  background-color: green;
}

.container {
  width: 80vw;
  background-color: white;
  padding: 3vh 3vw;
  border-radius: 7px;
  margin: 2vh auto;
}

.row {
  margin: 2vh auto;
}

.group {
  background-color: rgb(0,0,0,0.1);
  border: 1px solid grey;
  border-radius: 7px;
}

.date-text {
  float: right;
}

.hide-button {
  float: right;
}

.done-item {
  text-decoration: line-through;
  color: grey;
}
